main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  justify-content: center;
}

main img {
  width: 28rem;
  height: 28rem;
  object-fit: cover;
  transition: .2s;
}

main img:hover {
  transform: scale(1.1);
}